body {
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #5aa86c;
}

a:hover {

    text-decoration: underline;
}

button {

    background-color: #63b175;
    /*background-color: #4CAF50;*/
    color: white;
    border: none;
    cursor: pointer;
}

.h2-div h2,
.h3-div h3 {

    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e6e8;
}


hr {

    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 14px;

}

.main-div {

    width: 850px;
    height: 100%;
    /* alignment: center;*/
    margin: auto;
    padding: 20px;
    background-color: white;
}


/* ---------------- header ------------------- */
.top-bar table,
.top-bar th,
.top-bar td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
#header {
    width: 890px;
    height: 110px;
    margin: auto;
    background-color: #63b175;
    /*background-color: #4CAF50;*/
}
#header-menu {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
#header-menu a:hover {
    text-decoration: none;
}
.site-logo {
    /*background-size: 100px 50px;*/
    /*background-image: url(/resources/image/logo.png);*/
    /*background-repeat: no-repeat;*/
    font-size: 18px;
    font-style: italic;
    font-family: Verdana, sans-serif;
}
#header-menu ul {
    margin: 0;
    padding: 0;
}
#header-menu li {
    height: 40px;
    width: auto;
    padding: 5px 10px;
    list-style-type: none;
    float: left;
    display: block;
    line-height: 2.5em;
    text-align: center;
    font-size: 16px;
}
#header-menu li a {
    display: block;
    color: #FFF;
    font-weight: bold;
}
#header-menu li:Hover {
    /*background-color: #55c159;*/
    background-color: #4e9960;
}
#user-profile-icon {

    float: right;
}

#header-search {
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    /*padding: 13px;*/
    /*background-color: #4CAF50;*/
    background-color: #63b175;
}
#header-search input {
    height: 35px;
    width: 550px;
    box-sizing: border-box;
    /*border: 1px solid #cbc;*/
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-position: 10px 10px;*/
    background-repeat: no-repeat;
    padding-left: 5px;
}

/* search field */
/*.search-textfield {*/
/**/
/*height: 30px;*/
/*width: 180px;*/
/*box-sizing: border-box;*/
/*border: 2px solid #ccc;*/
/*!**/
/*border-radius: 4px;*/
/**!*/
/*font-size: 16px;*/
/*background-color: white;*/
/*background-position: 10px 10px;*/
/*background-repeat: no-repeat;*/
/*padding-left: 5px;*/
/*-webkit-transition: width 0.4s ease-in-out;*/
/*transition: width 0.4s ease-in-out;*/

/*}*/
#search-button {

    height: 35px;
    /*border: 1px solid #4CAF50;*/
    border: none;
    border-radius: 4px;
    background-color: #f9f5f3;
    color: #444;
}


.footer {
    left: 0;
    height: 30px;
    border-top-color: #4CAF50;
    border-top: 1px;
    text-align: center;


    alignment: center;
    padding-top: 20px;
}

.error-text {

    color: red;
}