a {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#order-info-div {
}

#products-in-order-div {

    padding-bottom: 7px;
    border-bottom: 1px solid #e4e6e8;
}
.product-in-order-div {
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #e4e6e8;;
    overflow: auto;
}

.product-picture-div {
    max-width: 170px;
    padding-right: 10px;
    float: left;
    width: 20%;
}
.product-picture{
    max-width:100%;
}
.product-desc-div {
    float: left;
    width: 50%;
}
.product-price-div {
    float: right;
    width: 20%;
}
.order-item-separator {
    /*border-bottom: 1px solid #e4e6e8;*/
    padding-top: 7px;
}
.product-name {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
.product-desc {
    color: #aaadab;
}
.product-quantity {
    color: #aaadab;
}
#total-price-div {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
}

#order-status-div {

}

.parent-div-for-bullet-and-stage-name {

    overflow: auto;
}

.status-info-div {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#order-created-status-div {
}

#shipping-details-status-div {
}

#payment-status-div {
}

#order-sent-status-div {
}

#order-arrival-status-div {
}

.stage-name-div {
    font-weight: bold;
    padding-left: 5px;
    float: left;
}

.not-yet-bullet,
.passed-with-success-bullet,
.fail-bullet,
.in-progress-bullet{
    background-image: url('/resources/image/status-bullets-small.png');
    background-repeat: no-repeat;
}

.not-yet-bullet{

    background-position: -10px -4px;
    height: 20px;
    width: 20px;

    float: left;
}

.passed-with-success-bullet{

    background-position: -32px -4px;
    height: 20px;
    width: 20px;

    float: left;
}

.fail-bullet{

    background-position: -54px -4px;
    height: 20px;
    width: 20px;

    float: left;
}
.in-progress-bullet{

    background-position: -76px -4px;
    height: 20px;
    width: 20px;

    float: left;
}
#order-status-header-div {

    clear: both;
}


.bottom-boarder {

    padding-top: 10px;
    padding-bottom: 5px;

    border-bottom: 1px solid #e4e6e8;
}

.pay-for-the-order-button {

    padding: 14px 20px;
    margin: 8px 0;
    width: 300px;
}

.provide-shipping-details-button {

    padding: 14px 20px;
    margin: 8px 0;
    width: 300px;
}