table {
    border: 1px solid black;
    border-collapse: collapse;
}

.confirm-shopping-cart-items-table{

    width: 100%;
}

.confirm-shopping-cart-items-table td, th {
    border: 1px solid black;
    padding: 5px;
}

.order-confirm-div{
    overflow: auto;

}

.order-number-div{

    padding-bottom: 16px;
}

.total-price-special-div{
    padding-top: 16px;
    padding-bottom: 16px;
    float: right;
    width: 100%;
}

#parent-buttons-div {

    /*overflow: auto;*/
}

#next-to-shipping-details-div {

    float: left;
}

#cancel-order-div {

    padding-left: 10px;
    float: left;
}

#next-to-shipping-details-button {

    padding: 15px 5px;
    width: 200px;
}

#cancel-order-button {

    padding: 15px 5px;
    width: 150px;
}
