table {
    border: 1px solid black;
    border-collapse: collapse;
}

.confirm-shopping-cart-items-table td, th {
    border: 1px solid black;
    padding: 5px;
}

.order-confirm-div{

}

.order-number-div{

    padding-bottom: 16px;
}

.total-price-div{

    padding-top: 16px;
    padding-bottom: 16px;

}

#next-to-shipping-details-button {

    padding: 15px 5px;
    width: 200px;
}