.all-orders-div{

    padding-bottom: 16px;

}

.order-div{



}

.product-div{

    padding-left: 10px;
    padding-right: 10px;

}

.order-info-div{

    padding-top: 16px;

}

/*.to-full-order-description-button{*/

    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 14px 20px;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*width: 200px;*/
/*}*/