.root-profile-div {

    /*padding-top: 16px;*/

    width: 90%;
    position: relative;
}

.profile-picture-div {

    padding-right: 16px;
    /*padding-top: 16px;*/
    padding-bottom: 16px;

    width: 40%;
    display: inline-block

}

.profile-info-div {

    position: absolute;
    top: 0;

    padding-left: 16px;
    /*padding-top: 16px;*/
    padding-bottom: 16px;

    width: 50%;
    display: inline-block

}

.user-image {
    width: 100%;
    max-width: 300px;
}

input[type="file"] {
    display: none;
}
.custom-image-upload-label {

    background-color: #63b175;
    color: white;
    border: none;
    display: inline-block;
    padding: 10px 5px;
    cursor: pointer;
    width: inherit;
    font-size: 13px;
    text-align: center;
}

#upload-image-button {

    padding: 10px 5px;
    width: inherit;
    font-size: 13px;

}

#choose-image-div {

    float: left;
    width: 140px;
}

#upload-image-div {

    float: left;
    width: 140px;
    padding-left: 15px;

}

#picture-upload-div {

    width: 100%;
    overflow: hidden;

}