a {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.product-in-order-div {
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border: 1px solid #e4e6e8;;
    overflow: auto;
}
.product-picture-div {
    max-width: 170px;
    padding-right: 10px;
    float: left;
    width: 20%;
}
.product-picture{
    max-width:100%;
}
.product-desc-div {
    float: left;
    width: 50%;
}
.product-price-div {
    float: right;
    width: 20%;
}
.order-separator {
    border-bottom: 1px solid #e4e6e8;
    padding-top: 20px;
    margin-bottom: 20px;
}
.product-name {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
.product-desc {
    color: #aaadab;
}
.product-quantity {
    color: #aaadab;
}
#total-price-div {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
}