<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../../../resources/css/common.css"/>
</head>
<body>

<div th:fragment="header">
    <div id="header">

        <div id="header-menu">
            <ul>
                <li><a class="site-logo" href="/" title="logo">Marketplace</a></li>
                <li style="float:right">
                    <a>User profile menu</a>
                </li>
                <li style="float:right"><a href="/logout" th:text="#{top_navigation_menu.logout}">Logout</a></li>
                <li style="float:right"><a href="/profile" th:text="#{top_navigation_menu.your_profile}">Profile</a></li>
                <li style="float:right"><a href="/shopping_cart"
                th:text="#{top_navigation_menu.shopping_cart(${number_of_products_in_shopping_cart})}">Shopping
                cart
                (0)</a></li>
                <li style="float:right"><a href="/orders" th:text="#{top_navigation_menu.orders}">Orders</a></li>
                <li style="float:right"><a href="/products" th:text="#{top_navigation_menu.products}">Products</a></li>
            </ul>
            <div id="user-profile-icon">

            </div>
        </div>

        <div id="header-search">
            <form th:action="@{/search}" method="get">
                <input type="text" name="search_phrase"
                       th:placeholder="#{top_navigation_menu.search_hint}" placeholder="search...">
                <button type="submit" id="search-button" th:text="#{top_navigation_menu.search_button}">Search
                </button>
            </form>

        </div>

    </div>
</div>

</body>
</html>