<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title th:text="#{orders.title}">Orders</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/common.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/orders.css" media="screen"/>
</head>
<body>
<div th:include="common/header-menu :: header"></div>
<div class="main-div">

    <div class="h2-div">
        <h2 th:text="#{orders.page_desc}"></h2>
    </div>

    <div class="all-orders-div">

        <th:block th:switch="${isEmpty}">

            <div th:case="${true}">No orders found.</div>

            <th:block th:case="${false}">
                <div class="order-div" th:each="order : ${orders}">
                    <div class="order-info-div">

                        <div th:inline="text"><strong>Order number: [[${order.id}]]</strong></div>
                        <div th:inline="text">Created: [[${order.orderCreationDateTime}]]</div>
                        <div th:inline="text">Closed: [[${order.orderClosedDateTime}]]</div>
                        <div th:inline="text">Address: [[${order.address}]]</div>
                        <div th:inline="text">Paid: [[${order.paid}]]</div>
                        <div>
                            <a th:href="@{/order/{order_id}(order_id=${order.getId()})}">
                                Open full order description
                            </a>
                        </div>
                    </div>

                    <div class="products-in-order-div">
                        <th:block th:each="item, iterStat : ${mapWithOrderItems.get(order.getId())}">
                            <div class="product-in-order-div" th:inline="text">
                                <div class="product-picture-div">
                                    PRODUCT PIC
                                </div>
                                <div class="product-desc-div">
                                    <ul>
                                        <li class="product-name">
                                            <a th:text="${productsMap.get(item.productId).getName()}"
                                               th:href="@{/products/{product_id}(product_id=${item.getProductId()})}">Product
                                                name</a>
                                        </li>
                                        <li class="product-desc"
                                            th:text="${productsMap.get(item.productId).getDescription()}"></li>
                                        <li class="product-quantity">quantity:
                                            <th:block th:text="${item.getProductsQuantity()}">-1</th:block>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-price-div">
                                    <span>Price:<th:block
                                            th:text="${item.getProductsQuantity() * productsMap.get(item.productId).getPrice()}"/></span>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="parent-of-order-price-div">
                        <div class="order-price-div"
                             th:inline="text">Total price, $: [[${orderIdAndTotalPriceMap.get(order.getId())}]]
                        </div>
                    </div>

                    <div class="order-separator"></div>
                </div>

            </th:block>

        </th:block>

    </div>
    <div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>