<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title th:text="#{order_info.title}">Order info</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/common.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/order-info.css" media="screen"/>

    <script src="/resources/js/order-info.js" type="text/javascript"></script>
</head>
<body>
<div th:include="common/header-menu :: header"></div>
<div class="main-div">
    <div class="h2-div">
        <h2 th:text="#{order_info.description}">Order info:</h2>
    </div>

    <div id="order-info-div">
        <ul>
            <li>Order number:
                <th:block th:text="${order_dto.getId()}"/>
            </li>
            <li>Status:
                <th:block th:text="${order_dto.getStatus()}"/>
            </li>
            <li>Created:
                <th:block th:text="${order_dto.getOrderCreationDateTime()}"/>
            </li>
            <li>Closed:
                <th:block th:text="${order_dto.getOrderClosedDateTime()}"/>
            </li>
            <li>Stage:
                <th:block th:text="${order_dto.getStage()}"/>
            </li>
            <li>Paid:
                <th:block th:text="${order_dto.isPaid()}"/>
            </li>
            <li>Address:
                <th:block th:text="${order_dto.getAddress()}"/>
            </li>
        </ul>
    </div>

    <h3 th:text="#{order_info.products_in_order}">Products in order:</h3>
    <div id="products-in-order-div">

        <th:block th:each="item : ${order_item_dtos}">
            <div class="product-in-order-div" th:inline="text">
                <th:block th:switch="${products_dto_map.get(item.getProductId()).getImageId()}">
                    <div class="product-picture-div" th:case="null">

                        <img th:src="@{/resources/image/default-product-picture.png}"
                             alt="default product's picture" class="product-picture">

                    </div>
                    <div class="product-picture-div" th:case="*">

                        <img th:src="@{/products/picture/{product_id}(product_id=${products_dto_map.get(item.getProductId()).getImageId()})}"
                             alt="product's picture" class="product-picture">
                    </div>

                </th:block>
                <div class="product-desc-div">
                    <ul>
                        <li class="product-name">
                            <a th:text="${products_dto_map.get(item.productId).getName()}"
                               th:href="@{/products/{product_id}(product_id=${item.getProductId()})}">Product name</a>
                        </li>
                        <li class="product-desc"
                            th:text="${products_dto_map.get(item.productId).getDescription()}"></li>
                        <li class="product-quantity">quantity:
                            <th:block th:text="${item.getProductsQuantity()}">-1</th:block>
                        </li>
                    </ul>
                </div>
                <div class="product-price-div">
                    <span>
                        Price:
                        <th:block
                                th:text="${item.getProductsQuantity() * products_dto_map.get(item.productId).getPrice()}"/>
                         $
                    </span>
                </div>
            </div>

            <div class="order-item-separator"></div>

        </th:block>
    </div>

    <div id="total-price-div">
        Total price, $:
        <th:block th:text="${total_price}">-1</th:block>
    </div>

    <div id="order-status-header-div">
        <h3 th:text="#{order_info.status}">Order status:</h3>
    </div>
    <div id="order-status-div">

        <div id="created" class="bottom-boarder">
            <div class="parent-div-for-bullet-and-stage-name">
                <div th:class="${status_map.get('created')}"></div>
                <div class="stage-name-div">
                    Create order
                </div>
            </div>

            <div class="status-info-div">
                Order created on [[${order_dto.getOrderCreationDateTime()}]]
            </div>
        </div>

        <div id="shipping-details-status-div" class="bottom-boarder">

            <div class="parent-div-for-bullet-and-stage-name">
                <div th:class="${status_map.get('shipping-details-provided')}"></div>
                <div class="stage-name-div">
                    Provide shipping details
                </div>
            </div>

            <th:block th:switch="${status_map.get('shipping-details-provided')}">

                <div class="status-info-div" th:case="${orderStatusTypeClass[1].getCssClassName()}">
                    <span>Shipping details not provided.</span>
                    <form action="/order/shipping-details" method="get">
                        <input type="hidden" name="order_id" th:value="${order_dto.getId()}"/>
                        <button type="submit" class="provide-shipping-details-button">Open page to provide shipping
                            details
                        </button>
                    </form>
                </div>

                <div class="status-info-div" th:case="*">
                    <span th:inline="text">Destination address: [[${order_dto.getAddress()}]]</span>
                </div>

            </th:block>
        </div>

        <div id="payment-status-div" class="bottom-boarder">

            <div class="parent-div-for-bullet-and-stage-name">
                <div th:class="${status_map.get('order-paid')}"></div>
                <div class="stage-name-div">
                    Pay for the order
                </div>
            </div>


            <th:block th:switch="${status_map.get('order-paid')}">

                <div class="status-info-div" th:case="${orderStatusTypeClass[1].getCssClassName()}">
                    <span>You have not paid for the order.</span>
                    <form th:action="@{/payment/order/{order_id}(order_id=${order_dto.getId()})}" method="get">
                        <input type="hidden" name="order_id" th:value="${order_dto.getId()}"/>
                        <button type="submit" class="pay-for-the-order-button">Open page to pay for the order</button>
                    </form>
                </div>

                <div class="status-info-div" th:case="*">

                </div>

            </th:block>
        </div>

        <div id="order-sent-status-div" class="bottom-boarder">
            <div class="parent-div-for-bullet-and-stage-name">
                <div th:class="${status_map.get('send-by-seller')}"></div>
                <div class="stage-name-div">
                    Order sent to buyer
                </div>
            </div>
        </div>

        <div id="order-arrival-status-div" class="bottom-boarder">

            <div class="parent-div-for-bullet-and-stage-name">
                <div th:class="${status_map.get('buyer-got-the-order')}"></div>
                <div class="stage-name-div">
                    Buyer received the order
                </div>
            </div>

        </div>

    </div>

    <div th:replace="common/footer :: footer"></div>
</div>

</body>
</html>