<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>Order payment status</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/common.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/order-payment-status.css" media="screen"/>

</head>
<body>
<div th:include="common/header-menu :: header"></div>
<div class="main-div">
    <div class="h2-div">
        <h2>Order payment status:</h2>
    </div>

    <div th:text="${error_message}">An error message about order payment</div>

    <a th:href="@{/order/{order_id}(order_id=${order.getId()})}">Back to order info page</a>

    <div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>