<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>Order payment</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/common.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/order-payment.css" media="screen"/>

    <script src="/resources/js/order-payment.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:include="common/header-menu :: header"></div>
<div class="main-div">
    <div class="h2-div">
        <h2>Order payment:</h2>
    </div>

    <div id="order-payment-div">

        <div id="order-number-div">
            <span th:inline="text">Order number: [[${orderDTO.getId()}]]</span>
        </div>

        <button id="collapsible-id" class="collapsible" onclick="toggleDebitCartPaymentMethod()">Debit cart payment
            method
        </button>
        <div id="content-id" class="content">

            <form class="credit-card">
                <div class="form-header">
                    <h4 class="title">Debit card details</h4>
                </div>

                <div class="form-body">
                    <!-- Card Number -->
                    <input type="text" class="card-number" placeholder="Card Number">

                    <!-- Date Field -->
                    <div class="date-field">
                        <div class="month">
                            <select name="Month">
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                                <option value="april">April</option>
                                <option value="may">May</option>
                                <option value="june">June</option>
                                <option value="july">July</option>
                                <option value="august">August</option>
                                <option value="september">September</option>
                                <option value="october">October</option>
                                <option value="november">November</option>
                                <option value="december">December</option>
                            </select>
                        </div>
                        <div class="year">
                            <select name="Year">
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                            </select>
                        </div>
                    </div>

                    <!-- Card Verification Field -->
                    <div class="card-verification">
                        <div class="cvv-input">
                            <input type="text" placeholder="CVV">
                        </div>
                        <div class="cvv-details">
                            <p>3 or 4 digits usually found <br> on the signature strip</p>
                        </div>
                    </div>

                    <button type="submit" class="proceed-btn"><a href="#">Proceed</a></button>
                </div>
            </form>
        </div>

    </div>

    <div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>