<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title th:text="#{orders.title}">Orders</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/common.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/orders.css" media="screen"/>
</head>
<body>
<div th:include="common/header-menu :: header"></div>
<div class="main-div">

    <h3 th:text="#{orders.page_desc}"></h3>

    <div class="all-orders-div">

        <th:block th:switch="${isEmpty}">

            <div th:case="${true}">no orders found</div>

            <th:block th:case="${false}">
                <div class="order-div" th:each="order : ${orders}">
                    <div class="order-info-div">

                        <div th:inline="text">created: [[${order.orderCreationDateTime}]]</div>
                        <div th:inline="text">closed: [[${order.orderClosedDateTime}]]</div>
                        <div th:inline="text">address: [[${order.address}]]</div>
                        <div th:inline="text">paid: [[${order.paid}]]</div>
                        <div th:inline="text">order id: [[${order.id}]]</div>
                        <div th:inline="text">total price, $: [[${orderIdAndTotalPriceMap.get(order.id)}]]</div>

                    </div>

                    <div class="product-div" th:each="orderItem, iterStat : ${mapWithOrderItems.get(order.getId())}">
                        <span th:text="${iterStat.count}"></span>
                        <div class="product-picture-div">
                            product picture
                        </div>
                        <div class="product-info-div" th:text="${productsMap.get(orderItem.getProductId())}">
                            product info
                        </div>
                        <hr>
                    </div>

                </div>
            </th:block>

        </th:block>

    </div>
    <div th:replace="common/footer :: footer"></div>
</div>
</body>
</html>