<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title th:text="#{user.title}">User page</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/common.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/profile.css" media="screen"/>
</head>
<body>
<div th:include="common/header-menu :: header"></div>
<div class="main-div">

    <div class="root-profile-div">

        <div class="profile-picture-div" th:switch="${user.imageId}">
            <div th:case="0">

                <img th:src="@{/resources/image/default-user-picture.png}" alt="default user picture"
                     class="user-image">

            </div>
            <div th:case="*">

                <img th:src="@{/user/picture/{user_id}(user_id=${user.imageId})}" alt="user's picture"
                     class="user-image">

            </div>

            <form method="post" th:action="@{/profile/picture}" enctype="multipart/form-data">
                <div id="picture-upload-div">
                    <div id="choose-image-div">
                        <label for="image-upload" class="custom-image-upload-label">Choose image</label>
                        <input id="image-upload" type="file" name="user_image" th:value="#{profile.choose_image}">
                    </div>
                    <div id="upload-image-div">
                        <button
                                id="upload-image-button"
                                type="submit"
                                th:text="#{profile.upload_image}">
                            Upload image
                        </button>
                    </div>
                </div>
            </form>

        </div>

        <div class="profile-info-div">
            <div class="h3-div">
                <h3 th:text="${user.name + ' ' + user.surname}">Jack Johns</h3>
            </div>
            <span th:inline="text">Username: [[${user.username}]]</span>
        </div>
    </div>

    <div th:replace="common/footer :: footer"></div>

</div>
</body>
</html>